@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    color: "#333"
}
.upload-save-vid h1{
    text-align: center;
    font-size: 24pt;
}
.upload-save-vid button{
    margin-top: 20px;
    width: 100%;
}
.upload-save-vid button{
    background-color: #3C77FF; 
    border-radius: 25px;
    color: white;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: bold;
}

.upload-save-vid input{
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid gray;
}
.upload-save-vid #description{
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid gray;
}

.upload-save-vid #filechoose {
    background-color: white; 
    color: white;
    box-sizing: none;
    border-radius: 0 auto;
    border: none;
}
